<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.username %></h1>
    <h2>Por favor conserve la tarjeta de coordenadas que se le dará</h2>
    <p>
      Confirme su registro ingresando al siguiente link: <a href="<%= @url %>" ><%= @url %></a>
    </p>

  </body>
</html>