<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.username %></h1>
    <p><bold>Una vez que haya entrado al enlace su cuenta quedar치 confirmada y deber치 conservar la tarjeta de coordenadas que se le dar치, le ser치 necesaria para entrar a su cuenta de ahora en adelante.</bold></p>
    <p>
      Confirme su registro ingresando al siguiente link: <a href="<%= @url %>" ><%= @url %></a>
    </p>

  </body>
</html>