<% flash.each do |key, value| %> 
  <% next if key == "one_time_coords" %>
  <div class="flash-message">         
    <div class="alert alert-dismissable bg-color-<%= key %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= value %>
    </div>
  </div>
<% end %>